.food_title{
  background-color: rgba(255, 187, 0, 0.889);
  padding: 5px;
  color: #fff;
}

.type1{
  background-color: yellowgreen;
}

.type2{
  background-color: #54ea2b;
}

.type3{
  background-color: #177f33;
}

.food_title a{
  color:#fff;
}

ul{
  padding: 0;
}

li{
  list-style:none;
}
